/* animation02.css */
.step2 {}
.step2 p {
    background-image:url(https://i.pinimg.com/736x/16/d6/e0/16d6e0598d68b543df2671dc6132fa00.jpg);
    background-position:center 100%; background-size:100%; background-repeat: no-repeat; background-color:#eee;
    width:50%; height:350px;
    /* transition:애니메이션적용속성 지속시간, 적용속성 지속시간, 속성 시간, 속성 시간; */
    transition:
        background-size 0.8s, background-image 2s,
        background-position 0.5s;
}
/* p에 마우스 올렸을 때 배경이미지 속성 애니메이션 적용 */
.step2 p:hover {
    background-position:center 0;
    background-size:120%;
    background-image:url(https://i.pinimg.com/736x/e5/98/91/e5989122c7de2a07ad8665a7a6e36a33.jpg);
}
/* -----가속도 애니메이션 연습 */
#map {
    padding:10px; background-color:#f5f5f5;
    display:flex; flex-flow:column nowrap;
}
#map #start {width:50px; height:50px;border-radius:50%; background:#f00; color:#fff;}
#map img {
    width:100px;
}
#map .car1 {transition:transform 0.5s ease;}
#map .car2 {transition:transform 0.5s linear;}
#map span {transform:scaleX(-1);}
#map span .car3 {transform:translateX(400px); transition:transform 0.5s ease-in;}/* 기본(초기위치) */
/* transform에 두개 이상의 속성이 적용 됐을 때 transition은 그 속성을 따로 구분하는게 아닌 transform에 들어간 모든 속성에 동시에 애니메이션을 적용한다. 따로 적용하고 싶다면 부모-자식 구조로 transform속성을 나눠야한다. */
#map .car4 {transition:transform 0.5s ease-out;}
/* 시작버튼에 마우스를 올리면 1번 자동차가 오른쪽으로 400px 만큼 이동 */
#map #start:hover + .car1 {transform:translateX(400px);}
/* 시작버튼에 마우스를 올리면 2번 자동차가 오른쪽으로 400px 아래로 15px 만큼 이동 */
#map #start:hover ~ .car2 {transform:translate(400px, 15px);}
/* 시작버튼에 마우스를 올리면 3번 자동차가 오른쪽400px위치에서 왼쪽 0위치만큼 이동 */
#map #start:hover ~ span .car3 {transform:translateX(0);}
/* 시작버튼에 마우스를 올리면 4번 자동차가 10도 회전, 오른쪽으로 100 이동 */
#map #start:hover ~ .car4 {transform:rotate(10deg) translateX(100px);}
/* --------------내비게이션 메뉴+서브메뉴 */
nav {width:350px; margin:60px 20px; text-align: center;}
nav > ul {}
nav > ul > li {position:relative;}
/* nav > ul > li:hover .sub {display:block;} */
nav > ul > li:hover .sub {height:120px; opacity:1;}
nav > ul > li > a {/* 메인메뉴-a1 */
    background-color:#000; color:#fff; display:block; line-height:40px;
}
nav > ul > li .sub {
    /* display:none; *//* 1. 서브메뉴 초기 숨기기 */
    height:0; overflow:hidden;
    opacity:0;
    position:absolute; width:100%;
    transition:height 0.4s ease, opacity 0.6s;
}
nav > ul > li .sub li {}
nav > ul > li .sub li a {/* 서브메뉴-a */
    background-color:#0cf; color:#111; display:block; line-height:30px;
}
.hero_bnr {background-color:orange; height:400px;}
/* 메인메뉴에 마우스 올리면 서브메뉴가 실행된다 -> CSS */
/* 메인메뉴를 클릭(터치)하면 서브메뉴가 실행된다 -> JS */
/* -------------------------------에어비앤비 메뉴 따라하기 */
.airbnb {}
.airbnb .lnb {display:flex; gap:8px;}
.airbnb .lnb > li {position:relative;/* 자식(a)크기를 기본으로 따라감 */}
.airbnb .lnb > li > a {
    background-color:#eee;
    display:block; line-height:40px; padding:0 10px;
}
.airbnb .lnb > li:hover > .sub {height:calc(40px * 5);}
.airbnb .lnb > li > .sub {
    background-color:#fff; box-shadow:0 0 10px rgba(0,0,0,0.15);
    border-radius:15px;/*  padding:10px; */
    /* 서브메뉴가 실행 될 시 다른 요소를 미는 현상 막기 */
    position:absolute; right:0; width:max-content;
    /* 애니메이션(transition)사용을 위한 초기값 설정 */
    height:0; overflow:hidden;
    transition:height 0.5s;
}
.airbnb .lnb > li > .sub li {width:80%; border-bottom:1px solid #aaa;}
.airbnb .lnb > li > .sub li:nth-child(5) {border:0;}
.airbnb .lnb > li > .sub li a {
    display:block; line-height:40px;
}
.airbnb_hero {
    height:400px; background-color:lime;
}
/* ------------------아이폰광고+그라데이션 애니메이션 효과 */
.gra1 {
    border-radius:25px;
    width:85%; margin:50px auto; height:600px; display:flex; flex-flow:column nowrap;
    justify-content: center; align-items: center; gap:12px;
    background:linear-gradient(90deg, #f5f5f5, rgb(250, 94, 22));
    /* transition:background-size 2s; */
    /* background-size:100%; */ position:relative;
}
.gra1 * {position:relative; z-index:100;}/* gra1의 모든 자식,자손에 넣은 전체평균값 */
.gra1::after {
    background:linear-gradient(90deg, aqua, lime);
    content:''; display:block; opacity:0;
    position:absolute; left:0; top:0; width:100%; height:100%;
    transition:opacity 1s; 
    z-index:90;/* gra1의 after에 별도로 들어간 덮어쓰기 값 */
}
/* gra1에 마우스를 올리면 가상after의 opacity 1로 변경 */
.gra1:hover::after {
    opacity:1; /* background-size:200%; */
}
.gra1 h1 {
    position:relative; z-index:100; line-height:1.3; text-align:center;
    font-weight:900; font-size:3.5rem; letter-spacing: -0.02em;
    /* 글자에 적용하는 그라데이션 효과 + 애니메이션 */
    background:linear-gradient(90deg, #fff, #0ff, #fff, #ff0, #fff);
    /* 글자 안에서만 보이는 그라데이션 효과 만들기 속성(고정속성과 값) */
    color:transparent;/* 글자 색상을 투명하게 */
    -webkit-background-clip:text;/* 투명한 글자안에 배경색이 마스크로 적용 */
    /* 글자 애니메이션 준비 속성(색상변경x, 크기와 위치를 이용한 동적) */
    background-size:500%;
    background-position:0 0;/* 시작위치설정 */
    transition:background-position 4s;
}
.gra1 h1:hover {background-position:100% 0;}/* 올렸을때 배경위치변경값 */
.gra1 a {
    position:relative; z-index:100;
    display:inline-block; background:#000; color:#fff;
    padding:12px 22px; border-radius:18px;
}

.gra2 {
    width:600px; height:400px; margin:20px; padding:50px 20px;
    overflow:hidden; position:relative;
    background:linear-gradient(60deg, #111, #eee, #555);
    background-size:300%; background-position:0 0;
    transition:background-position 3s;
}
.gra2:hover {background-position:100% 0;}
.gra2:hover img {top:30%;}
.gra2 h2 {color:#fff; font-weight:600; font-size:2rem; margin:10px 0;}
.gra2 h3 {
    color:#fff; font-weight:900; font-size:3rem;
    background:linear-gradient(90deg,#fff, #ff0, #fff);
    color:transparent; -webkit-background-clip:text;
    background-size:600%; background-position:0 0;
    transition:background-position 5s;
}
.gra2:hover h3 {background-position:100% 0;}
.gra2 img {
    position:absolute; left:-50%; top:60%;
    transition:top 0.8s linear;
}
/* ----------------------------------gnb+snb 터치 시 실행구조 */
.gnb {}
.gnb > ul {
    display:flex;
}
.gnb > ul > li {position:relative;}
.gnb > ul > li > a {
    background-color:#eee; color:#222;
    line-height:30px; display:block; padding:0 10px;
}
.gnb > ul > li > .sub {
    display:flex; position:absolute; width:max-content;
}
.gnb > ul > li > .sub li {}
.gnb > ul > li > .sub li a {
    background-color:rgba(255,255,0,0.25);
    line-height:50px; display:block; padding:0 10px;
}